<!DOCTYPE HTML>
<html>

<head>
<meta charset="utf-8" />
<title></title>

<link href="js/zui1.7.0/css/zui.min.css" rel="stylesheet" />
<link href="js/zui1.7.0/css/zui-theme.css" />
<link href="js/zui1.7.0/lib/calendar/zui.calendar.min.css"
	rel="stylesheet" />
<link rel="stylesheet" href="css/style.css" />

<script type="text/javascript" src="js/jquery/jquery-3.2.0.min.js"></script>
<script src="js/zui1.7.0/js/zui.min.js"></script>
<script src="js/zui1.7.0/lib/calendar/zui.calendar.min.js"></script>
<script src="js/myjs.js"></script>
<script src="js/jquery.table2excel.js"></script>
<script src="js/GetCNDate.js"></script>

</head>

<body>
	<div class="">
		<!--最顶部-->
		<div class="top-my ">
			<form class="navbar-form ">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="page-header">
                                    <h1>
                                        领导日程 <small></small>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
				</form>
			<div class="topdiv text-center content "
				style="position: relative; top: 8px;" id="nowtime"></div>

			<button class="topdiv btn btn-primary" id="download"
				onclick="window.location.href='download'">日程模板下载</button>

			<button class=" topdiv btn btn-default " data-toggle="modal"
				data-target="#inputModal">日程导入</button>

            <button type="button" class="btn btn-warning" onclick="showAgendaDownloadModal()">
                <i class="icon icon-download-alt"></i>
                日程下载
            </button>

            <!-- Modal -->
            <div class="modal fade" id="agendaDownlaodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">当前下载的日程是:</h4>
                        </div>
                        <div id="agendaInfo" class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" onclick="outputTableToExcel('agenda_tb')"><i class="icon icon-download-alt"></i>下载</button>
                        </div>
                    </div>
                </div>
            </div>

			<div class="modal fade" id="inputModal">
				<div class="modal-dialog">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">关闭</span>
						</button>
						<h4 class="modal-title">选择要上传的文件</h4>
					</div>
					<div class="modal-body">
						<input type="file" id="filename" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary"
							onclick="inputFile()">上传</button>
					</div>
				</div>
			</div>

		</div>

		<!--内容显示-->
		<div id="" class="row-fluid">

			<div class="col-md-2 ">

				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading text-center">党工委管委会领导</div>

					<div id="showMen"></div>
					
				</div>
			</div>
			<!--内容显示-->
			<div class="col-md-10 " style="">
				<div class="panel panel-default">
					<div class="panel-heading container">
						<div class="pull-left" style="margin: 5px 0">
							<span id="leaderName"></span>
						</div>
						<div class="pull-left" style="margin: 5px 58px;">
							<span id="gettime">2017年8月28日~2017年9月3日</span>
						</div>
						<div class="btn-group pull-right" role="group" aria-label="...">
							<button id="afterweek" type="button" class="btn btn-default">
								<i class="icon icon-chevron-left"></i> <span>上一周日程</span>
							</button>
							<button id="nowweek" type="button" class="btn btn-primary ">
								<span>本周日程</span>
							</button>
							<button id="nextweek" type="button" class="btn btn-default">
								<span>下一周日程</span> <i class="icon icon-chevron-right"></i>
							</button>
						</div> 
					</div>
					<div class="panel-body">

						<table id="agenda_tb" class="table table-bordered agenda_table" border="0"
							align="center">
							<thead>
								<tr>
									<th style="text-align: center;"><strong>时间</strong></th>
									<th style="text-align: center;"><strong>领导姓名</strong></th>
									<th style="text-align: center;"><strong>时间</strong><strong>&nbsp;</strong>
									</th>
									<th style="text-align: center;"><strong>日程内容</strong></th>
									<th style="text-align: center;"><strong>地点</strong></th>
									<th style="text-align: center;"><strong>参与部门或人员</strong></th>
									<th style="text-align: center;"><strong>&nbsp;
											&nbsp;备注</strong><br /></th>
								</tr>
							</thead>
							<tbody id="tb_test">
								
							</tbody>
						</table>
						
						
					</div>
					

				</div>
			</div>

		</div>
	</div>
</body>

</html>